# API

APIの一覧を記載します。

- [api1](#api1)
- [api2](#api2)


## api1

api1の説明です。


### Request

| Parameter Name | Type | Required | Description |
| -- | -- | -- | -- |
| param1 | type1 | Y | param1の説明 |
| param2 | type2 | N | param2の説明 |

リクエストに関する補足説明です。(Optional)


### Response

| Parameter Name | Type | Description |
| -- | -- | -- | -- |
| param3 | type3 | param3の説明 |
| param4 | type4 | param4の説明 |

レスポンスに関する補足説明です。(Optional)


## api2

api2の説明です。

(api2のRequest, Responseは省略)
