# クラス図

クラス図の一覧を記載します。

- [module1](#module1)
- [module2](#module2)


## module1

```mermaid
classDiagram
    class User {
        -id: int
        -name: String
        -classes: List<Class>
    }
    class Class {
        -id: int
        -name: String
    }

    User o-- Class
```


## module2

(省略)
