# フローチャート

フローチャートの一覧を記載します。

- [scenario1](#scenario1)
- [scenario2](#scenario2)


## scenario1

scenario1の説明です。

```mermaid
graph TD
    s([start])
    1[ID検索]
    2{ユーザが存在}
    3[ユーザの情報を表示]
    4[エラーメッセージを表示]
    e([end])

    s --> 1 --> 2
    2 -- する --> 3 --> e
    2 -- しない --> 4 --> e
```

scenario1の補足です。(Optional)


## scenario2

(省略)
