# 状態遷移図

状態遷移図の一覧を記載します。

- [scenario1](#scenario1)
- [scenario2](#scenario2)


## scenario1

scenario1の説明です。

```mermaid
stateDiagram-v2
    [*] --> ログイン: ログイン状態
    [*] --> ログアウト: ログアウト状態

    ログイン --> ログアウト: ログアウト
    ログアウト --> ログイン: ログイン成功
    ログアウト --> ログアウト: ログイン失敗
```

scenario1の補足です。(Optional)


## scenario2

(省略)
